# ==================================================
# 🚀 NekoHentai Environment Template (.env.example)
# ==================================================

# 1. Database & Cache
DB_CONNECTION_STRING="Host=localhost;Port=5433;Database=NekoHentaiDb;Username=postgres;Password=NekoHentaiDbPassword2026!;"
REDIS_CONNECTION_STRING="localhost:6380,abortConnect=false"

# 2. JWT Authentication
JWT_SECRET="NekoHentaiSecretKeyForJwtTokenGeneration2026SuperSecure!"
JWT_ISSUER="NekoHentaiAPI"
JWT_AUDIENCE="NekoHentaiClient"
JWT_EXPIRY_DAYS=7

# 3. Google OAuth 2.0 (Social Login)
GOOGLE_CLIENT_ID="510177815251-88f3mqoiatfct4jj0bhnuhmol985ae0s.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="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"

# 4. Primary Cloud Storage (AWS S3 Storage)
R2_ENDPOINT="s3.ap-southeast-1.amazonaws.com"
R2_ACCESS_KEY="AKIA2S27ZAESFGZBBYFN"
R2_SECRET_KEY="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"
R2_BUCKET_NAME="nekohentai-storage"
R2_SECURE=true
# CDN bọc trước S3 (Sử dụng domain Cloudflare để cache ảnh 0đ Egress)
R2_CDN_BASE_URL="https://img.nekohentai.lol"

# 5. Cloudflare R2 - Database Backup Storage (S3 API Key vĩnh viễn)
CF_R2_ENDPOINT="7d2e9a7fa70afba6027908941eb6bd19.r2.cloudflarestorage.com"
CF_R2_ACCESS_KEY="b55550a4f61f223173b5c5b742867416"
CF_R2_SECRET_KEY="2afe8eb25f16ff0c74bb0521ba87c04e6313d63bb6c731224e5a70de3f21a3a3"
CF_R2_BUCKET="nekohentai"

# 7. Meilisearch Fulltext Search Engine
MEILISEARCH_HOST="http://localhost:7701"
MEILI_MASTER_KEY="NekoHentaiMeiliMasterKey2026!"

# 8. Web App & Tunnel Routing
APP_ENV="Development"
API_PORT=5000
FRONTEND_PORT=4200
PUBLIC_DOMAIN="https://nekohentai.lol"

API_BASE_URL="https://nekohentai.lol/api"